@model IEnumerable<TravelPlanner.Models.City>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <!-- Include DataTables CSS for table sorting and filtering -->
    <link rel="stylesheet" href="~/css/datatables.min.css" />
}
<h1>Cities</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCapital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCapital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('.table').DataTable({
                "columnDefs": [
                    {
                        "orderable": true,
                        "targets": "_all"  // Make all columns sortable
                    }
                ]
            });
        });
    </script>
} 
