@model IEnumerable<TravelPlanner.Models.Country>

@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <!-- Include DataTables CSS for table sorting and filtering -->
    <link rel="stylesheet" href="~/css/datatables.min.css" />
}
<h1>Countries</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
                @if (User.Identity.IsAuthenticated)
                {
            <td>
                <a asp-action="Edit" asp-route-id="@item.CountryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CountryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CountryId">Delete</a>
            </td>
                }
                else
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.CountryId">Details</a>
                    </td>
                }
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function() {
            $('.table').DataTable({
                "columnDefs": [
                    {
                        "orderable": true,
                        "targets": "_all"  // Make all columns sortable
                    }
                ]
            });
        });
    </script>
} 
